<div class="details-course">
  <div>
    <label>Title</label>
    <input class="form-control" [(ngModel)]="title">
  </div>
  <div>
    <label>Description</label>
    <textarea class="form-control" [(ngModel)]="description"></textarea>
  </div>
  <div class="date">
    <label>Date</label>
    <input class="form-control" type="date" [(ngModel)]="date">
  </div>
  <div class="date">
    <label >Duration</label>
    <input class="form-control" type="date" [(ngModel)]="duration">
  </div>
  <div>
    <label>Authors</label>
    <input class="form-control">
  </div>
  <div class="button-group">
    <button class="btn btn-info" (click)="onSave()" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Save course
    </button>
    <button class="btn btn-light" (click)="onCancel()">Cancel and back</button>
  </div>
</div>
