<div class="course-item" [appCustomBorder] = "'dadsad'">
  <div class="header-item">
    <h1>{{course.title}}</h1>
    <div>
      <span>{{course.creationDate | date:'medium'}}</span>
      <span>{{course.duration | date:'medium'}}</span>
    </div>
  </div>
  <div class="content">
    <div class="description">{{course.description}}</div>
    <div>
      <button class="btn btn-info">Edit</button>
      <button class="btn btn-info" (click)="deleteCourse(course)">Delete</button>
    </div>
  </div>
</div>
