<div class="course-item" [appCustomBorder] = "course.creationDate" [ngClass]="{'course-item--topRated': course.topRated}">
  <div class="header-item">
    <h1>{{course.title | titlecase }}<span class="star" *ngIf="course.topRated">★</span></h1>
    <div>
      <span>{{course.creationDate | date:'medium'}}</span><br />
      <span>{{course.duration | dateFormat}}</span>
    </div>
  </div>
  <div class="content">
    <div class="description">{{course.description}}</div>
    <div>
      <a routerLink="{{course.id}}"><button class="btn btn-info">Edit</button></a>
      <button class="btn btn-info" (click)="deleteCourse(course)">Delete</button>
    </div>
  </div>
</div>
