<div class="login">
  <h1>Login</h1>
  <div class="field">
    <label>E-mail</label>
    <input
      [(ngModel)]="email"
      type="email"
      placeholder=" Enter your e-mail"
      class="form-control"
      aria-label="email"
      aria-describedby="basic-addon1"
    />
  </div>
  <div class="field">
    <label>Password</label>
    <input
      [(ngModel)]="password"
      type="password"
      placeholder="Enter your password"
      class="form-control"
      aria-label="password"
      aria-describedby="basic-addon1"
    />
  </div>
  <div class="buttons-group">
    <a href="#">Forget your password?</a>
    <button class="btn btn-success" (click)="onSubmit()" [disabled]="isLoading">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Login
    </button>
  </div>
</div>
